# .NET build output
Week_1/HelloWorld/bin/
Week_1/HelloWorld/obj/

Week_1/Maths/bin/
Week_1/Maths/obj/

Week_1/Strings/bin/
Week_1/Strings/obj/


Week_1/Variables/bin/
Week_1/Variables/obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# VS Code - optional local settings
.vscode/

# OS files
.DS_Store
Thumbs.db